.calculator {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}
